<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <File name="TEMP" fileName="logs/app-bootstrap.log" append="false">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>

        <Async name="ASYNC">
            <AppenderRef ref="TEMP"/>
            <AppenderRef ref="CONSOLE"/>
         </Async>

    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>

    </Loggers>
<!--https://logging.apache.org/log4j/2.x/manual/configuration.html-->
</Configuration>